/* Reset box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h5,
p,
ul,
ol,
li,
figure,
figcaption{
  margin: 0;
  padding: 0;
}

/* mobile default style */

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin-bottom: 3px;
}
.products-container .product-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: subgrid;
  grid-row: span 3; */
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 3rem 0;
}


.products-container img {
  grid-column: 2/3;
  grid-row: 1/3;
}
.products-container .offers {
  display: none;
}

